[Desktop Entry]
Categories=Game;
Comment[en_US]=RSI Launcher Maintenance
Comment=RSI Launcher Maintenance
Keywords=Star Citizen;StarCitizen
Exec=rsi-maintenance
GenericName[en_US]=RSI Launcher Maintenance
GenericName=RSI Launcher
Icon=io.github.mactan_sc.RSILauncher.maintenance
MimeType=
Name[en_US]=RSI Launcher Maintenance
Name=RSI Launcher Maintenance
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-Flatpak=io.github.mactan_sc.RSILauncher
X-Flatpak-Tags=proprietary;
X-KDE-SubstituteUID=false
X-KDE-Username=
