[Desktop Entry]
Categories=Game;
Comment[en_US]=RSI Launcher
Comment=RSI Launcher
Exec=rsi-run
GenericName[en_US]=RSI Launcher
GenericName=RSI Launcher
Icon=io.github.mactan_sc.RSILauncher
MimeType=
Name[en_US]=RSI Launcher
Name=RSI Launcher
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-Flatpak=io.github.mactan_sc.RSILauncher
X-Flatpak-Tags=proprietary;
X-KDE-SubstituteUID=false
X-KDE-Username=
